@charset "UTF-8";
body {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 0;
  background-image: url("../img/bcg.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  position: relative;
}

input[type='checkbox'],
input[type='radio'] {
  position: absolute;
  visibility: hidden;
}

body::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

h1 {
  text-align: center;
  z-index: 99;
  color: white;
  margin: 0;
  padding: 20px;
}

h2,
p,
button {
  padding-left: 5px;
  z-index: 99;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  line-height: 25px;
  padding: 5px 10px;
  margin-bottom: 5px;
}

li::before {
  display: inline-block;
  min-width: 30px;
  font-size: 25px;
  color: green;
}

li:nth-child(1)::before {
  content: '1';
}

li:nth-child(2)::before {
  content: '2';
}

li:nth-child(3)::before {
  content: '3';
}

li:nth-child(4)::before {
  content: '4';
}

li:nth-child(5)::before {
  content: '5';
}

li:nth-child(6)::before {
  content: '6';
}

summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: rgba(245, 245, 247, 0.9);
  padding: 25px 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 15px;
}

details div {
  padding: 20px;
  padding-bottom: 40px;
  border-radius: 5px;
  background-color: rgba(245, 245, 247, 0.8);
  margin-bottom: 20px;
  z-index: 99;
}

details summary::-webkit-details-marker {
  display: none;
}

details summary::after {
  display: block;
  position: absolute;
  top: 18px;
  left: 20px;
  bottom: 0;
}

.item-1 summary::after {
  content: url("../img/icon-1.jpg");
}

.item-2 summary::after {
  content: url("../img/icon-2.jpg");
}

.item-3 summary::after {
  content: url("../img/icon-3.jpg");
}

details summary::before {
  font-family: 'FontAwesome';
  content: '\f107';
  position: absolute;
  top: 18px;
  right: 30px;
  bottom: 0;
  font-size: 2em;
}

details[open] summary::before {
  font-family: 'FontAwesome';
  content: '\f106';
}

details summary::-webkit-details-marker::before {
  color: transparent;
}

details[open] summary::-webkit-details-marker {
  color: transparent;
}

button {
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  background-color: #009f83;
  color: white;
}

@media (min-width: 769px) {
  .container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-transition: height 0.3s linear;
    transition: height 0.3s linear;
    position: absolute;
  }
  summary {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    text-align: center;
    padding-top: 50%;
    position: relative;
  }
  summary {
    width: 270px;
    height: 270px;
    border: 20px solid rgba(245, 245, 247, 0);
    border-radius: 50%;
  }
  details summary::before {
    display: none;
  }
  details summary::after {
    display: block;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
  }
  details div {
    display: hidden;
  }
  .main-wrapper {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-transition: height 0.3s linear;
    transition: height 0.3s linear;
  }
  .settings-box-element {
    z-index: 10;
  }
  .settings-btn:checked ~ .layout-buttons {
    right: 30px;
    background-color: yellow;
  }
  input[type='radio']:checked + label {
    border: 0.5px solid black;
  }
  /* кнопка 1 */
  .one + label,
  .two + label,
  .three + label {
    margin: 10px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    cursor: pointer;
  }
  .one:checked ~ .container {
    background: #494949;
  }
  .two:checked ~ .container {
    background: orange;
  }
  .three:checked ~ .container {
    background: pink;
  }
}
/*# sourceMappingURL=style.css.map */